<div class="md:grid md:grid-cols-6 md:gap-6 rodaPe">
  <div class="md:col-span-2"></div>
  <div class="md:col-span-2">
    <div class="p-8 flex flex-col lg:px-8">
      <div [hidden]="status" class="button bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Incorrect username or passwords! </strong>
        <span class="block sm:inline"> Check your details.</span>
      </div>
      <h2 class="text-center text-gray-900 text-lg font-medium title-font mb-2">Login</h2>
      <div class="mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600"
          >E-mail</label
        >
        <input
          [(ngModel)]="email"
          type="email"
          id="email"
          name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          id="password"
          name="password"
          class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <button
        (click)="login()"
        class="mt-5 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg"
      >
        Login
      </button>
      <a
        class="mt-8 text-center text-blue-500 border-0 py-2 px-8 focus:outline-none rounded text-lg"
        [routerLink]="['../register']"
        >Don't have an account? Click here to register
      </a>
    </div>
  </div>
  <div class="md:col-span-2"></div>
</div>
