<div class="justify-center items-center bg-gray-100 p-8 flex flex-col lg:px-8">
  <h2 class="text-gray-900 text-lg font-medium title-font mb-2">Login</h2>
  <div class="mb-4">
    <label for="full-name" class="leading-7 text-sm text-gray-600">E-mail</label>
    <input [(ngModel)]="email" type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="relative mb-4">
    <label for="password" class="leading-7 text-sm text-gray-600">Senha</label>
    <input [(ngModel)]="password" type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <button (click)="login()" class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Entrar</button>
  <a class="text-center text-blue-500 border-0 py-2 px-8 focus:outline-none  rounded text-lg" [routerLink]="['../register']">Clique aqui para se registrar </a>
</div>
