<div
  class="h-screen w-screen bg-yellow-400 overflow-hidden absolute flex items-center"
>
  <div
    class="w-screen h-64 absolute top-0 opacity-50 left-0 -my-40 -mx-64 bg-yellow-300 rounded-full"
  ></div>
  <div class="w-64 h-64 -mx-32 bg-yellow-300 opacity-50 rounded-full"></div>
  <div
    class="w-64 h-64 ml-auto relative opacity-50 -mr-32 bg-yellow-300 rounded-full"
  ></div>
  <div
    class="w-screen h-64 absolute opacity-50 bottom-0 right-0 -my-40 -mx-64 bg-yellow-300 rounded-full"
  ></div>
</div>

<div class="container mx-auto h-screen py-16 px-8 relative">
  <div
    class="flex w-full rounded-lg h-full lg:overflow-hidden overflow-auto lg:flex-row flex-col shadow-2xl"
  >
    <div class="lg:w-1/2 bg-white text-gray-800 flex flex-col">
      <div class="p-8 shadow-md relative bg-white">
        <div class="flex items-center">
          <div *ngIf="links[0].image">
            <img
              src="{{ links[0].image }}"
              class="w-10 h-10 block rounded object-cover object-top"
            />
          </div>

          <div *ngIf="!links[0].image">
            <img
              src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
              class="w-10 h-10 object-cover rounded object-top"
            />
          </div>

          <div class="text-yellow-600 font-medium ml-3">
            {{ links[0].name + " " + links[0].last_name }}
          </div>
         <div *ngFor="let user of users">
            <div *ngIf="links[0].id === user.id">

            </div>
         </div>
          <button
          (click)="settings()"
          class="text-gray-500 flex items-center text-sm focus:outline-none rounded ml-auto py-2 leading-none"
        >
          <svg
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-4 h-4 mr-2"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="3" />
            <path
              d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z"
            />
          </svg>
          Edit
        </button>
        </div>
        <h1 class="font-medium text-lg mt-6">Contact List</h1>
        <p class="text-gray-600 text-sm">
          Fingerstache godard blog, cornhole meh hoodie
        </p>
        <div class="mt-6 flex">
          <button
            class="bg-yellow-500 text-white py-2 text-sm px-3 rounded focus:outline-none"
          >
            New Contact
          </button>
          <button
            class="ml-4 text-gray-600 py-2 text-sm px-3 rounded focus:outline-none border border-gray-400"
          >
            New Task
          </button>
          <div class="relative ml-auto flex-1 pl-8 sm:block hidden">
            <input
              placeholder="Search"
              type="text"
              class="w-full border rounded border-gray-400 h-full focus:outline-none pl-4 pr-8 text-gray-700 text-sm text-gray-500"
            />
            <svg
              stroke="currentColor"
              class="w-4 h-4 absolute right-0 top-0 mt-3 mr-2 text-gray-500"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <circle cx="11" cy="11" r="8" />
              <path d="M21 21l-4.35-4.35" />
            </svg>
          </div>
        </div>
      </div>

      <div class="overflow-auto flex-grow">
        <h1 style="background-color: #faf60f" class="font-medium text-lg m-6 text-center">Users List</h1>
        <div *ngFor="let user of users">
          <div
            *ngIf="user.name != links[0].name"
            class="bg-gray-100 px-8 py-6 flex items-center border-b border-gray-300"
          >
            <input type="checkbox" />
            <div class="flex ml-4">
              <div *ngIf="user.image">
                <img
                  src="{{ user.image }}"
                  alt=""
                  class="object-cover rounded-full object-top w-10 h-10"
                />
              </div>
              <div *ngIf="!user.image">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZWslP_s13xrYqMgaXYbMdcgQMrAbepeQNwA&usqp=CAU"
                  class="object-cover rounded-full object-top w-10 h-10"
                />
              </div>

              <div class="flex flex-col pl-4">
                <h2 class="font-medium text-sm">{{ user.name }}</h2>
                <h3 class="text-gray-500 text-sm">Sport</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-1/2 bg-yellow-600 text-white flex flex-col">
      <div class="p-8 bg-yellow-700 flex items-center">
        <div *ngIf="links[0].image">
          <img
            [src]="links[0].image"
            class="w-10 h-10 block rounded object-cover object-top"
          />
        </div>

        <div *ngIf="!links[0].image">
          <img
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
            class="w-10 h-10 object-cover rounded object-top"
          />
        </div>
        <div class="mr-auto">
          <div class="text-white font-medium ml-3">
            {{ links[0].name + " " + links[0].last_name }}
          </div>
          <h2 class="text-white-400 text-sm">{{ links[0].graduation }}</h2>
        </div>
        <button
          [hidden]="running"
          class="bg-yellow-600 text-white py-2 text-sm px-3 rounded focus:outline-none"
          (click)="startTimer()"
        >
          Start Pratice
        </button>
        <button
          [hidden]="!running"
          class="bg-yellow-600 text-white py-2 text-sm px-3 rounded focus:outline-none"
          (click)="pauseTimer()"
        >
          Stop Pratice
        </button>
      </div>

      <div style="background-color: #2bff0080; text-align: center">
        <span class="time" [hidden]="!running">
          {{ duration }}
        </span>
      </div>

      <div class="p-8 flex flex-1 items-start overflow-auto">
        <div class="flex-shrink-0 text-sm sticky top-0">
          <!-- <div class="flex items-center text-white mb-3">
            Open <span class="italic text-sm ml-1">(10)</span>
          </div>
          <div class="flex items-center text-white-300 mb-3">
            In Progress <span class="italic text-sm ml-1">(8)</span>
          </div>
          <div class="flex items-center text-white-300">
            Closed <span class="italic text-sm ml-1">(4)</span>
          </div> -->
        </div>
        <div class="flex-1 pl-10">
          <div class="flex mb-8">
            <div class="flex-grow">
              <div [hidden]="!praticeEnd">
                <ul class="marker:text-black list-disc">
                  <li>Profile: {{ links[0].name }}</li>
                  <li>Time: {{ duration }}</li>
                  <li>Date: {{ date }}</li>
                </ul>

                <div class="grid grid-cols-6 gap-6">
                  <div class="mb-4 col-span-3 sm:col-span-3">
                    <button
                      (click)="discardDados()"
                      type="reset"
                      class="w-full px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-400 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                    >
                      Discard
                    </button>
                  </div>
                  <div class="mb-4 col-span-3 sm:col-span-3">
                    <button
                      (click)="returnDados()"
                      type="submit"
                      class="w-full px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-400 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>

              <div class="text-center text-black text-lg" style= "background-color: #faf60f">Pratice History</div>
              <br>
              <div *ngFor="let pratices of returnPratices">
                <div
                  class="bg-gray-100 px-8 py-6 flex items-center border-b border-gray-300"
                >
                  <div class="flex ml-2">
                    <div class="flex flex-col pl-4">

                      <div *ngIf="pratices[1]">
                        <h2 class="font-medium text-sm text-black">
                          <img
                            src="{{ pratices[1] }}"
                            alt=""
                            class="h-20 w-20 rounded-full inline"
                          />
                          {{ pratices[0] }}
                        </h2>
                      </div>
                      <br>
                      <div *ngIf="!pratices[1]">
                        <h2 class="font-medium text-sm text-black">
                          <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZWslP_s13xrYqMgaXYbMdcgQMrAbepeQNwA&usqp=CAU"
                            alt=""
                            class="h-20 w-20 rounded-full inline"
                          />
                          {{ pratices[0] }}
                        </h2>
                      </div>

                      <h2 class="font-medium text-sm text-black">
                        Date: {{ pratices[2] }}
                      </h2>
                      <h2 class="font-medium text-sm text-black">
                        Time: {{ pratices[3] }}
                      </h2>
                      <p class="text-black"></p>
                      <h3 class="text-gray-500 text-sm">Sport</h3>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
