<div class="px-5 py-24 mx-auto">
  <div class="text-center mb-20">
    <h1
      class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4"
    >
      Frequently Asked Question
    </h1>
    <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
      The most common questions about how our business works and what can do for
      you.
    </p>
  </div>
  <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
    <div class="w-full px-4 py-2">
      <div *ngFor="let faq of faqs">
        <div *ngIf="faq.answer">
          <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
              {{ faq.message }}
            </summary>

            <span class="font-bold">
              {{ faq.answer }}
            </span>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>

<h6 class="text-center pb-7">
  Did you have any doubts? Fill in the field below and we will respond as soon
  as possible!
</h6>



<div class="md:grid md:grid-cols-6 md:gap-6 rodaPe">
  <div class="md:col-span-2"></div>
  <div class="md:col-span-2">
    <div class="form items-center rounded-lg">
      <div class="form-group mb-6">
          <label for="name"></label>
          <input
          [(ngModel)]="faq.name"
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="name"
          placeholder="Name"
          />
        </div>
      <div class="form-group mb-6">
        <label for="email"></label>
        <input
          [(ngModel)]="faq.email"
          type="email"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="email"
          placeholder="Email address"
        />
      </div>
      <div class="form-group mb-6">
        <div class="items-center rounded-lg">
          <div class="form-group mb-6">
            <textarea
              [(ngModel)]="faq.message"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleFormControlTextarea13"
              rows="3"
              placeholder="Message"
            ></textarea>
          </div>

          <div class="grid grid-cols-6 gap-6">
            <div class="form-group mb-4 col-span-6 sm:col-span-3">
              <button
                (click)="clean()"
                type="reset"
                class="form-group w-full px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-400 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
              >
                Clean
              </button>
            </div>
            <div class="mb-4 col-span-6 sm:col-span-3">
              <button
                (click)="create()"
                type="submit"
                class="w-full px-6 py-2.5 bg-yellow-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-400 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-500 active:shadow-lg transition duration-150 ease-in-out clear"
                class="w-full px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-400 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-500 active:shadow-lg transition duration-150 ease-in-out"
              >
                Send
              </button>
            </div>
          </div>

          <div [hidden]="!sendSuccess" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span> Pergunta enviada com sucesso!</span>
          </div>

          <div [hidden]=" status3" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Atenção! </strong>
            <span class="block sm:inline"> Preencha todos os campos obrigatórios.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
