@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage {
    background: url('https://i.pinimg.com/564x/39/8e/dc/398edce40e8abdd8532f010d6baac0ee.jpg');
    margin: auto;
    background-size: 75%;
}

